body {
    padding: 3%;
    margin: 0px;
}

.top-box {
    width: 1050px;
    height: 230px;
    border: 5px solid black;
    padding: 0px;
    box-sizing: border-box;
    position: fixed;
}

.purple-rectangle {
    background-color:rgb(137,44,226);
    height: 155px;
    width: 50px;
    display: inline-block;
    margin-top: 55px;
    margin-left: 15px;

}

.green-rectangle {
    background-color:rgb(35,139,33) ;
    height: 200px;
    width: 400px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 45px;
}

.blue-circle {
    height: 200px;
    width: 200px;
    background-color: rgb(136,206,235);
    border-radius: 50%;
    display: inline-block;
    margin-left: 40px;
}

.middle-box {
    height: 310px;
    width: 1050px;
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: -55px;
    border: 5px dotted black;  
}

.yellow-shade {
    background-color:rgb(255,250,205) ;
    height: 210px;
    width: 950px;
    display: inline-block;
    margin-top: -550px;
    margin-left: 50px;
    box-shadow: 7px 7px 7px ;
}


.bottom-box {
    height: 310px;
    width: 550px;
    box-sizing: border-box;
    margin-top: 65px;
    margin-left: 250px;
    border: 2px solid gray;  
    box-shadow: 4px 4px 3px rgb(198,198,198);
}

.text {
    font-size: 33px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 440px;
    margin-top: -190px;
    letter-spacing: 10px;
    font-weight: 550;
    color: rgb(5,0,128)

}

#friends {
    margin-top: 10px;
    margin-left: 420px;


}