body {
    background-color: rgb(207, 207, 207);
}

.top-box {
    background-color:rgb(87, 87, 87);
    height: 15vh;
}

.mid-box {
    background-color: white;
    height: 77vh;
    width: 60%;
    margin-left: 20%
}

.bottom-box {
    background-color: black;
    height: 8vh;
    width: 60%;
    margin-left: 20%
}